
.mistake {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
}

.suggestion {
    text-decoration: underline;
    text-decoration-color: yellow;
    text-decoration-thickness: 3px;
}

.suggestionList {
    list-style: none;
    color: white;
}
